body{
    font-family: 'Segoe UI', sans-serif;
}
button {
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
}

.align-self-start{
    align-self: flex-start;
}

.border-none {
    border-width: 0 !important;
}

.border-none:focus{
    outline: none !important;
}

.flag-round {
    border-radius: 9999px;
    object-fit: cover;
}

.font-normal{
    font-weight: 400 !important;
}

.font-semibold{
    font-weight: 600 !important;
}

.gap-2{
    gap: 0.67rem !important;
}

.gap-3{
    gap: 1rem !important;
}

.justify-self-end{
    justify-self: end !important;
}

.lang-active{
    border: 3px solid #FFF;
}

.lang-inactive{
    border: 3px solid #027F71;
}

.navbar-overlay{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-color: rgba(0,0,0,0.75);
}

.notification-bubble{
    position: absolute;
    border-radius: 90px;
    background-color: red;
    width: 0.4rem;
    height: 0.4rem;
    right: 0.09rem;
    top: 0.15rem;
}

.pl-3{
    padding-left: 1rem !important;
}

.pl-7{
    padding-left: 2.5rem !important;
}

.pl-md-6{
    
}

.profile-picture-wrapper{
    border-radius: 999px;
    border: 1px solid #DADADA;
    padding: 3px;
}

.text-white{
    color: #FFF !important;
}

.side-panel{
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 127, 112);
    padding: 3.2rem 0.5rem;
    z-index: 31;
}

.sidebar{
    position: fixed;
    height: 100%;
    left:0;
    top:0;
    z-index: 31;
    background-color: rgba(2, 127, 112, 0.85);
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

/* lg breakpoint */
@media (min-width: 992px) {
    .pl-lg-7 {
        padding-left: 2.1rem;
    }

    .pl-lg-0 {
        padding-left: 0 !important;
    }

    .pl-lg-1 {
        padding-left: 0.5 !important;
    }

    .pr-lg-2 {
        padding-right: 0.75rem;
    }

    .pl-lg-2 {
        padding-left: 0.75rem;
    }

    .text-lg-xl {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }

    .side-panel:hover + .sidebar {
        display: flex !important;
    }

    .sidebar:hover {
        display: flex !important;
    }
}