body{
    font-family: 'Segoe UI', sans-serif;
}
button {
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
}


table#main-table thead th {
    background-color: #5E5E5E;
    color: white;
    border:0;
}

table#main-table thead th:first-child {
    border-top-left-radius:10px;
}

table#main-table thead th:last-child {
    border-top-right-radius:10px;
}

.advanced-options{
    background: #F5F7F9 0% 0% no-repeat padding-box;
    border: 1px solid #C7CDD6D9;
    border-radius: 8px;
    display: "flex";
    flex-direction: "column";
    margin-top: 0.5rem;
    padding: 1rem;
}

.align-self-start{
    align-self: flex-start;
}

.border-none {
    border-width: 0 !important;
}

.border-none:focus{
    outline: none !important;
}

.breadcrumb-item a {
    color: #818181;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #E84D0E;
}

.btn-table-action{
    padding: 8px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E5E5E;
    border-radius: 999px;
    color: white;
}

.flag-round {
    border-radius: 9999px;
    object-fit: cover;
}

.float-left {
    float: 'left' !important;
}

.float-right {
    float: 'right' !important;
}

.font-normal{
    font-weight: 400 !important;
}

.font-medium{
    font-weight: 500 !important;
}

.font-semibold{
    font-weight: 600 !important;
}

.font-bold{
    font-weight: 700 !important;
}

.gap-2{
    gap: 0.67rem !important;
}

.gap-3{
    gap: 1rem !important;
}

.justify-self-end{
    justify-self: end !important;
}

.lang-active{
    border: 3px solid #FFF;
}

.lang-inactive{
    border: 3px solid #027F71;
}

.navbar-overlay{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-color: rgba(0,0,0,0.75);
}

.no-underline{
    text-decoration-line: none !important;
}

.notification-bubble{
    position: absolute;
    border-radius: 90px;
    background-color: red;
    width: 0.4rem;
    height: 0.4rem;
    right: 0.09rem;
    top: 0.15rem;
}

.pl-1{
    padding-left: 0.33rem;
}

.pl-2{
    padding-left: 0.5rem;
}

.pl-3{
    padding-left: 1rem !important;
}

.pl-7{
    padding-left: 2.5rem !important;
}

.profile-picture-wrapper{
    border-radius: 999px;
    border: 1px solid #DADADA;
    padding: 3px;
}

.rotate-180{
    transform: rotate(180deg);
}

.rounded-8{
    border-radius: 8px !important;
}

.text-3E40AE{
    color: #3E40AE !important;
}

.text-sm{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-white{
    color: #FFF !important;
}

.transition{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    color: rgb(116, 119, 122);
    transform: translateY(-50%);
}

.side-panel{
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 127, 112);
    padding: 3.2rem 0.5rem;
    z-index: 31;
}

.sidebar{
    position: fixed;
    height: 100%;
    left:0;
    top:0;
    z-index: 31;
    background-color: rgba(2, 127, 112, 0.85);
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.whitespace-normal {
    white-space: normal !important;
}

.w-4{
    width: 1rem !important;
}

.w-8{
    width: 2rem !important;
}

.w-min {
    width: min-content !important;
}

@media (max-width: 480px){
    table#main-table thead th:nth-child(4) {
        border-top-right-radius:10px;
    }
}

@media (max-width: 1024px) {
    table#main-table thead th:nth-child(6) {
        border-top-right-radius:10px;
    }
}


/* md breakpoint */
@media (min-width: 768px) { 
    .whitespace-md-nowrap{
        white-space: nowrap !important;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .pl-lg-7 {
        padding-left: 2.1rem;
    }

    .pl-lg-0 {
        padding-left: 0 !important;
    }

    .pl-lg-1 {
        padding-left: 0.5 !important;
    }

    .pr-lg-2 {
        padding-right: 0.75rem;
    }

    .pl-lg-2 {
        padding-left: 0.75rem;
    }

    .text-lg-xl {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }

    .side-panel {
        display: flex;
    }

    .side-panel:hover + .sidebar {
        display: flex !important;
    }

    .sidebar:hover {
        display: flex !important;
    }
}